@import "../utils/container.scss";
@import "../utils/mixins";

.header__touch {
  cursor: pointer;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 500px;
  background: #97d28b;
  outline: none;
  border: none;

  color: #173d33;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background: #173d33;
    color: #97d28b;
  }
}

.header__touch__chip {
  fill: #173d33;
  transition: all 0.3s ease;
}

.header__touch:focus .header__touch__chip,
.header__touch:hover .header__touch__chip {
  fill: #97d28b;
}

//
.hero__btn {
  @include mobileMax {
    margin: 0 auto;
  }
  cursor: pointer;
  display: inline-flex;
  height: 39px;
  padding: 4px 4px 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 1px solid #97d28b;

  color: #173d33;
  @include font(16px, 400, 18px);

  letter-spacing: -0.64px;
  transition: all 0.3s ease;
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #173d33;
    color: #97d28b;
    background: #173d33;
  }
}

.hero__icon {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #97d28b;
  color: #173d33;
}
