@import "../utils/container.scss";
@import "../utils/mixins";

.header__touch {
  cursor: pointer;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 500px;
  background: #97d28b;
  outline: none;
  border: none;

  color: #173d33;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background: #173d33;
    color: #97d28b;
  }
}

.header__touch__chip {
  fill: #173d33;
  transition: all 0.3s ease;
}
.header__touch:hover .header__touch__chip {
  fill: #97d28b;
}
