@import "../utils/container.scss";
@import "../utils/mixins";

@import "./mainCompany.module.scss";

.cases__container {
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
}

.cases__title {
  @include mobileMax {
    margin-bottom: 24px;
  }
  @include tablet {
    width: 264px;
    margin-right: auto;
  }
  @include desktop {
    width: 398px;
  }
}

.chip::after {
  @include tablet {
    content: "";
    display: flex;
    height: 65px;
    border-left: var(--border);
  }
  @include desktop {
    height: 96px;
  }
}
//
.box__chip {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include tablet {
    margin-left: 9px;
    width: 349px;
  }
  @include desktop {
    margin-left: 0;
    width: 620px;
  }
}
.number {
  color: var(--color-text);

  text-align: justify;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1.12px;
  @include desktop {
    margin: 0 auto;
  }
}
.number__chip {
  color: rgba(23, 61, 51, 0.25);
}

.cases__chip {
  cursor: pointer;
  display: inline-flex;
  padding: 15px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: var(--border-hover);

  transition: all 0.3s ease;
  @include desktop {
    padding: 24px;
  }
  &:first-of-type {
    margin-right: 12px;
    @include desktop {
      margin-right: 24px;
    }
  }
  &:focus,
  &:hover {
    border: var(--border);

    color: var(--color-hover);
  }
}

.cases__arrow {
  width: 36px;
  height: 36px;
}
.cases__list {
  padding-top: 24px;
  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 120px;
  }
}
.cases__list__item {
  cursor: grab;
  background: var(--background-cases);
  height: auto;
  @include mobileMax {
    width: 100%;
  }

  @include tablet {
    width: 342px !important;
  }

  @include desktop {
    width: 596px !important;
  }
}
.cases__img {
  @include mobileMax {
    max-width: 100%;
  }
  @include tablet {
    width: 100%;
  }
  height: auto;
}

.cases__list__container {
  @include tabletMax {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    @include tablet {
      height: 154px;
    }
  }
}

.cases__list__item__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 12px 0;

  @include desktop {
    padding: 36px 48px;
  }
}
.cases__list__item__title {
  color: var(--color-text);
  width: 190px;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  @include tablet {
    width: 210px;
    font-size: 20px;
    letter-spacing: -0.8px;
  }
  @include desktop {
    width: 357px;
    font-size: 24px;

    letter-spacing: -0.96px;
  }
}
.cases__list__item__chip {
  cursor: pointer;
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: var(--background);
  transition: all 0.3s ease;
  &:focus,
  &:hover {
    background: var(--background-hover);
    color: var(--color-hover);
  }
}
.cases__list__item__icon {
  width: 28px;
  height: 28px;
}
.cases__list__item__box {
  display: flex;
  justify-content: space-between;
  border-top: var(--border);
  padding: 12px 0 12px 0;
  margin: 0 12px 0 12px;

  @include desktop {
    padding: 24px 0 36px 0;
    margin: 0 48px 0 48px;
  }
}
.cases__list__item__box__text {
  color: var(--color-text);

  text-align: justify;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  @include tablet {
    font-size: 14px;
    letter-spacing: -0.56px;
  }

  @include desktop {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}
