@import "../utils/container.scss";
@import "../utils/mixins";

.error {
  position: absolute;
  right: 0;
  bottom: -20px;

  color: var(--color-error);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
}
.form {
  max-width: 440px;
  display: flex;
  flex-direction: column;

  padding: 36px 12px;
  background-color: var(--background-cases);
  @include tablet {
    width: 342px;
    padding: 36px 24px;
  }
  @include desktop {
    padding: 48px;
    width: 596px;
  }
}
.form__box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
  @include desktop {
    gap: 12px;
  }
}
.label {
  color: var(--color-text);

  text-align: justify;
  font-size: 16px;
  font-weight: 400;

  letter-spacing: -0.64px;
}

.input {
  color: var(--color-text);
  outline: none;
  border: none;
  border-bottom: var(--border);
  background: none;

  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;

  padding-bottom: 8px;
  @include desktop {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
  }
}
.input::placeholder {
  color: #bdbdbd;
}

.errorBorder {
  border-bottom: 1px solid var(--color-error);
}

.form__box__textarea {
  margin-bottom: 16px;
  @include desktop {
    margin-bottom: 32px;
  }
}
.textarea {
  resize: none;
  height: 147px;
}

.btn__box {
  margin-left: auto;
}
