@import "../utils/container.scss";
@import "../utils/mixins";

@import "./mainCompany.module.scss";

.electricity__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @include desktop {
    gap: 17px;
  }
}

.title__center {
  text-align: center;
  @include tablet {
    width: 368px;
  }
  @include desktop {
    width: 491px;
  }
}
.electricity__chip::after {
  content: "";
  display: flex;
  height: 48px;
  border-left: var(--border);
  @include tablet {
    height: 87px;
  }
}

.electricity__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--color-hover);
  @include font(48px, 700, 48px);

  text-transform: uppercase;

  @include tablet {
    @include font(100px, 700, 100px);
    gap: 24px;
  }
  @include desktop {
    @include font(164px, 700, 164px);
  }
}
.electricity__chip__kWh {
  color: var(--color-text);
  @include font(24px, 400, 24px);

  @include tablet {
    @include font(28px, 400, 28px);
  }
  @include desktop {
    @include font(48px, 400, 48px);
  }
}
