@import "../utils/container.scss";
@import "../utils/mixins";

.section {
  padding-top: 36px;
  @include tablet {
    padding-top: 100px;
  }
  @include desktop {
    padding-top: 120px;
  }
}
.mainCompany__container__title {
  @include tablet {
    display: flex;
    width: 708px;
    margin: 0 auto;
  }
  @include desktop {
    width: 100%;
  }
}
.title {
  color: #173d33;

  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 100% */
  text-transform: uppercase;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
  @include desktop {
    font-size: 48px;
    line-height: 48px;
  }
}
.mainCompany__title {
  margin-bottom: 24px;
  @include tablet {
    width: 272px;
    margin-right: auto;
  }
  @include desktop {
    width: 365px;
  }
}

.chip::after {
  @include tablet {
    content: "";
    display: flex;
    height: 110px;
    border-left: 1px solid #97d28b;
  }
  @include desktop {
    height: 87px;
  }
}
.mainCompany__text {
  color: #173d33;

  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-bottom: 36px;
  @include tablet {
    width: 342px;
    margin-left: 11px;
    margin-bottom: 100px;
  }
  @include desktop {
    width: 459px;
    margin-left: 161px;
    margin-bottom: 122px;
  }
}
.mainCompany__list {
  display: grid;
  grid-template:
    "item1 item2" 1fr
    "item5 item6" 1fr / 1fr 1fr;
  grid-gap: 24px;
  @include mobileMax {
    justify-items: center;
  }
  @include tablet {
    grid-template:
      "item1 item2 item3 item3" auto
      "item4 item4 item5 item6" auto / auto auto;
    justify-content: center;
  }
  @include desktop {
    grid-gap: 48px;
  }
}
.item3 {
  grid-column: 3 / span 2;
  grid-row: 1;
}
.item4 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.mainCompany__item {
  @include mobileMax {
    display: none;
  }
}
.mainCompany__list__item {
  background: #eaedf1;
  padding: 12px;
  @include mobileMax {
    min-width: 148px;
  }
  @include tablet {
    width: 159px;
  }
  @include desktop {
    width: 274px;
    padding: 48px 24px;
  }
}
.mainCompany__list__item__box {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 1px 0 33px 0;
  border-bottom: 1px solid #97d28b;
  margin-bottom: 12px;
  @include tablet {
    padding-bottom: 51px;
  }
}

.mainCompany__svg {
  @include desktop {
    width: 24px;
    height: 24px;
  }
}
.mainCompany__list__item__title {
  color: #173d33;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
  @include tablet {
    font-size: 18px;

    line-height: 24px;
    @include desktop {
      font-size: 32px;
      line-height: 48px;
    }
  }
}
.mainCompany__list__item__text {
  color: #173d33;

  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  @include desktop {
    font-size: 16px;
  }
}
.mainCompany__img {
  width: 342px;
  height: 197px;
  @include desktop {
    width: 596px;
    height: 339px;
  }
}
